#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #22201e;

  width: 100%;
  height: 100dvh;
}

.wrapper {
  width: min-content;
  background-color: #28804e;
  padding: 1rem;
  border: 2px solid #cecece8c;
  border-radius: 4px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
